<div class="recipe">
  <a class="recipe-title-link" [routerLink]="['/recipes', recipe.id]">
    <h4 class="recipe-title">{{recipe.title}}</h4>
  </a>
  <div class="recipe-description" *ngIf="showDescription">{{recipe.description}}</div>
  <div class="recipe-details">
    <span class="recipe-author">
      <!-- <a class="recipe-category-link" [routerLink]="['/categories', null]"> -->
      <a class="recipe-category-link" href="#">
        <span class="category-icon far fa-folder-open"></span>{{recipe.category.name}}</a>
    </span>
    <span class="recipe-created" ngbTooltip="{{recipe.created | date:'medium'}}">
        <i class="date-icon far fa-calendar-alt"></i>{{recipe.created | timeAgo}}
    </span>
    <div class="recipe-nutrition">
      <div>
        Calories -  {{recipe.nutrition.ENERC_KCAL.value}}
      </div>
      <div>
          Fat -  {{recipe.nutrition.FAT.value}}
        </div>
        <div>
            Sugars -  {{recipe.nutrition.SUGAR.value}}
          </div>
          <div>
              Carbohydrates -  {{recipe.nutrition.CHOCDF.value}}
            </div>
    </div>
</div>
