<section id="create-recipe">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="create-recipe-container">
          <div #spacer></div>
          <div class="add-buttons-container" stickyThing [spacer]="spacer">
            <app-add-contents
              [products]="products"
              [foodGroups]="foodGroups"
              [recipes]="recipes"
              [categories]="categories"
              [productsCollectionSize]="productsCollectionSize"
              [recipesCollectionSize]="recipesCollectionSize"
              (addProduct)="addProduct($event)"
              (addRecipe)="addRecipe($event)"
              [addedProductsModal]="recipeProducts"
              [addedRecipesModal]="recipeRecipes"
              (getProducts)="getProducts($event)"
              (getRecipes)="getRecipes($event)"
            ></app-add-contents>
          </div>
          <div class="create-recipe-form">
            <h4 class="create-recipe-header"
            *ngIf="usedFor === 'create'"
            ><span class="create-recipe-icon fas fa-pencil-alt"></span> Create Recipe</h4>
            <h4 class="create-recipe-header"
            *ngIf="usedFor === 'update'"
            ><span class="create-recipe-icon fas fa-pencil-alt"></span> Update Recipe</h4>
            <form [formGroup]="createRecipeForm">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Recipe Title" formControlName="title"
                  [class.is-valid]="this.createRecipeForm.controls['title'].valid && this.createRecipeForm.controls['title'].touched"
                  [class.is-invalid]="this.createRecipeForm.controls['title'].invalid && this.createRecipeForm.controls['title'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createRecipeForm.controls['title'].invalid && this.createRecipeForm.controls['title'].touched"
                >
                  <small *ngIf="this.createRecipeForm.controls['title'].errors.required">Title is required!</small>
                  <small *ngIf="this.createRecipeForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Write recipe description here..." formControlName="description"
                  [class.is-valid]="this.createRecipeForm.controls['description'].valid && this.createRecipeForm.controls['description'].touched"
                  [class.is-invalid]="this.createRecipeForm.controls['description'].invalid && this.createRecipeForm.controls['description'].touched"
                ></textarea>
                <div class="invalid-feedback"
                  *ngIf="this.createRecipeForm.controls['description'].invalid && this.createRecipeForm.controls['description'].touched"
                >
                  <small *ngIf="this.createRecipeForm.controls['description'].errors.required">Description is required!</small>
                  <small *ngIf="this.createRecipeForm.controls['description'].errors.minlength">Description must be at least 3 characters long!</small>
                </div>
              </div>
              <div class="form-group">
                <select formControlName="category" class="form-control"
                  (change)="onChangeCategorySelect($event)"
                  [class.is-valid]="this.createRecipeForm.controls['category'].valid && this.createRecipeForm.controls['category'].touched"
                  [class.is-invalid]="this.createRecipeForm.controls['category'].invalid && this.createRecipeForm.controls['category'].touched"
                >
                  <option selected value> -- Select Category -- </option>
                  <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                </select>
                <div class="invalid-feedback"
                  *ngIf="this.createRecipeForm.controls['category'].invalid && this.createRecipeForm.controls['category'].touched"
                >
                  <small *ngIf="this.createRecipeForm.controls['category'].errors.required">Category is required!</small>
                </div>
              </div>
              <div class="recipe-contents">
                <div class="products-container">
                  <h5>Products</h5>
                  <div class="products-container-inner" formArrayName="products">
                    <div class="alert alert-warning" role="alert" *ngIf="recipeProducts.length === 0">
                      There are no products added to this recipe yet!
                    </div>
                    <ngb-accordion #acc="ngbAccordion" *ngIf="recipeProducts.length > 0">
                      <ngb-panel *ngFor="let product of recipeProducts; let i = index">
                        <ng-template ngbPanelHeader>
                          <div class="d-flex align-items-center justify-content-between">
                            <button class="btn btn-link" ngbPanelToggle>{{product.description}}</button>
                            <div [formGroupName]="i">
                              <div class="form-row align-items-center dynamic-item">
                                <div class="col-auto">
                                  <input formControlName="amount" class="form-control" name="search" type="number" min="0" placeholder="0" (change)="calculateTotalNutrition()">
                                </div>
                                <div class="col-auto">
                                  <select formControlName="measure" class="form-control"
                                    (change)="onChangeProductMeasureSelect(i, $event)"
                                    (change)="calculateTotalNutrition()"
                                  >
                                    <option selected value> - Select Unit - </option>
                                    <option *ngFor="let measure of product.measures" [value]="measure.measure">{{measure.measure}}</option>
                                  </select>
                                </div>
                                <div class="col-auto">
                                    <span class="remove-icon far fa-times-circle" (click)="removeProduct(product.code)"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent> 
                          <app-item-nutrition
                            [usedFor]="'products'"
                            [item]="product"
                            [amount]="this.getProductFormGroup(i).controls['amount'].value"
                            [measure]="this.getProductFormGroup(i).controls['measure'].value"
                          ></app-item-nutrition>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
                <div class="recipes-container">
                  <h5>Recipes</h5>
                  <div class="recipes-container-inner" formArrayName="recipes">
                    <div class="alert alert-warning" role="alert" *ngIf="recipeRecipes.length === 0">
                      There are no recipes added to this recipe yet!
                    </div>
                    <ngb-accordion #acc="ngbAccordion" *ngIf="recipeRecipes.length > 0">
                      <ngb-panel *ngFor="let recipe of recipeRecipes; let i = index">
                        <ng-template ngbPanelHeader>
                          <div class="d-flex align-items-center justify-content-between">
                            <button class="btn btn-link" ngbPanelToggle>{{recipe.title}}</button>
                            <div [formGroupName]="i">
                              <div class="form-row align-items-center dynamic-item">
                                <div class="col-auto">
                                  <input formControlName="amount" class="form-control" name="search" type="number" min="0" placeholder="0" (change)="calculateTotalNutrition()">
                                </div>
                                <div class="col-auto">
                                    <span class="remove-icon far fa-times-circle" (click)="removeRecipe(recipe.id)"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent> 
                          <app-item-nutrition
                            [usedFor]="'recipes'"
                            [item]="recipe"
                            [amount]="this.getRecipeFormGroup(i).controls['amount'].value"
                          ></app-item-nutrition>
                        </ng-template>
                      </ngb-panel>
                    </ngb-accordion>
                  </div>
                </div>
              </div>
              <div class="total-recipe-nutrition-container">
                <app-total-nutrition
                  [usedFor]="'create'"
                  [nutrition]="totalRecipeNutrition"
                ></app-total-nutrition>
              </div>
              <div class="create-update-button-container">
                <button type="submit" class="btn btn-primary"
                  *ngIf="usedFor === 'create'"
                  [disabled]="this.createRecipeForm.invalid || 
                  (this.recipeProducts.length === 0 && this.recipeRecipes.length === 0)"
                  (click)="createRecipe()"
                >Create Recipe</button>
                <button type="submit" class="btn btn-primary"
                  *ngIf="usedFor === 'update'"
                  [disabled]="this.createRecipeForm.invalid || 
                  (this.recipeProducts.length === 0 && this.recipeRecipes.length === 0)"
                  (click)="updateRecipe()"
                >Update Recipe</button>                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>