#create-recipe {
  margin-top: 60px;
}

.create-recipe-container {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border-radius: 4px;
}

.create-recipe-form {
  padding: 3rem 3.5rem 3.5rem;
}

.create-recipe-header {
  margin-bottom: 30px;
}

.create-recipe-icon {
  margin-right: 10px;
}

.create-button-container {
  margin-top: 25px;
}

.recipe-contents {
  margin-top: 30px;
}

.recipes-container {
  margin-top: 25px;
}

.products-container-inner, .recipes-container-inner {
  margin-top: 20px;
}

.dynamic-item input.form-control, .dynamic-item select.form-control {
  padding: 10px;
}

.dynamic-item input.form-control {
  width: 70px;
}

.dynamic-item select.form-control {
  width: 150px;
}

.remove-icon {
  cursor: pointer;
  transition: color 0.2s;
}

.remove-icon:hover {
  color: #47db00;
}