<div class="row align-items-center add-buttons-row">
  <div class="col-sm-6 text-center first-col">
    <button class="btn btn-success add-product-button" (click)="open(addProducts)">
        <span class="button-icon fas fa-plus"></span>Add Products
    </button>
  </div>
  <div class="col-sm-6 text-center">
    <button class="btn btn-primary add-recipe-button" (click)="open(addRecipes)">
        <span class="button-icon fas fa-plus"></span>Add Recipes
    </button>
  </div>
</div>

<ng-template #addProducts let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Products</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-contents">
    <app-search-filter
      [usedFor]="'products'"
      [foodGroups]="foodGroups"
      (submitFilter)="onSubmitFilterProduct($event)"
      (clearFilter)="onSubmitFilterProduct($event)"
    ></app-search-filter>
    <ul class="products">
      <li *ngFor="let product of this.products">{{product.description}}
        <button class="btn btn-success btn-sm"
          (click)="addProductToRecipe(product)"
          *ngIf="!isProductAdded(product.code)"
        >Add</button>
        <button class="btn btn-success btn-sm" disabled *ngIf="isProductAdded(product.code)">Added</button>
      </li>
    </ul>
    <div class="pagination-container">
      <app-pagination
        [viewing]="productsViewing"
        [through]="productsThrough"
        [(page)]="productsPage"
        [pageSize]="productsPageSize"
        [collectionSize]="productsCollectionSize"
        (newPage)="onProductsPaginationChange($event)"
      ></app-pagination>
    </div>
  </div>
</ng-template>

<ng-template #addRecipes let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Recipes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-contents">
    <app-search-filter
      [usedFor]="'recipes'"
      [foodGroups]="categories"
      (submitFilter)="onSubmitFilterRecipe($event)"
      (clearFilter)="onSubmitFilterRecipe($event)"
    ></app-search-filter>
    <ul class="products">
      <li *ngFor="let recipe of this.recipes">{{recipe.title}}
        <button class="btn btn-success btn-sm"
          (click)="addRecipeToRecipe(recipe)"
          *ngIf="!isRecipeAdded(recipe.id)"
        >Add</button>
        <button class="btn btn-success btn-sm" disabled *ngIf="isRecipeAdded(recipe.id)">Added</button>
      </li>
    </ul>
    <div class="pagination-container">
      <app-pagination
        [viewing]="recipesViewing"
        [through]="recipesThrough"
        [(page)]="recipesPage"
        [pageSize]="recipesPageSize"
        [collectionSize]="recipesCollectionSize"
        (newPage)="onRecipesPaginationChange($event)"
      ></app-pagination>
    </div>
  </div>
</ng-template>