<div class="recipe-total-nutrition">
  <h5 *ngIf="usedFor === 'create'">Total Recipe Nutrition</h5>
  <h4 *ngIf="usedFor === 'details'" class="section-title">Total Recipe Nutrition</h4>
  <div class="recipe-total-nutrition-inner">
    <div class="row">
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.ENERC_KCAL.value.toFixed(0)}} {{nutrition.ENERC_KCAL.unit}}
        </span>
        <span class="nutrition-name">Calories</span>
      </div>
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.FAT.value.toFixed(0)}} {{nutrition.FAT.unit}}
        </span>
        <span class="nutrition-name">Fat</span>
      </div>
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.SUGAR.value.toFixed(0)}} {{nutrition.SUGAR.unit}}
        </span>
        <span class="nutrition-name">Sugars</span>
      </div>
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.CHOCDF.value.toFixed(0)}} {{nutrition.CHOCDF.unit}}
        </span>
        <span class="nutrition-name">Carbs</span>
      </div>
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.PROCNT.value.toFixed(0)}} {{nutrition.PROCNT.unit}}
        </span>
        <span class="nutrition-name">Protein</span>
      </div>
      <div class="nutrition-container col-sm">
        <span class="nutrition-value">
          {{nutrition.CA.value.toFixed(0)}} {{nutrition.CA.unit}}
        </span>
        <span class="nutrition-name">Calcium</span>
      </div>
    </div>
  </div>
</div>
<div class="recipe-total-details">
  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <button class="btn btn-link" ngbPanelToggle>Show Total Nutrition Table</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent> 
        <app-item-nutrition
          [usedFor]="'total'"
          [item]="nutrition"
          [amount]="1"
        ></app-item-nutrition>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div> 