.section-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.nutrition-container {
  display: inline-block;
  text-align: center;
}

.recipe-total-nutrition-inner {
  margin-top: 20px;
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 25px;
}

.nutrition-container > span {
  display: block;
}

.nutrition-value {
  font-weight: bold;
}

.nutrition-name {
  font-style: italic;
}

.recipe-total-details {
  margin-top: 25px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}