<app-top-buttons [showSearch]="true"></app-top-buttons>
<section id="recipes">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-recipe-view
          *ngFor="let recipe of recipes"
          [usedFor]="'list-recipes'"
          [recipe]="recipe"
          [showDescription]="false"
          [showEditDelete]="false"
          [showNutrition]="true"
        ></app-recipe-view>
        <div class="pagination-container">
          <app-pagination
            [viewing]="viewing"
            [through]="through"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="collectionSize"
            (newPage)="onPaginationChange($event)"
          ></app-pagination>
        </div>
      </div>
    </div>
  </div>
</section>