<section id="recipes-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <button class="create-recipe-button" [routerLink]="['/recipes/create']">
            <span class="button-icon fas fa-pencil-alt"></span>Create Recipe
        </button>
      </div>
      <div class="col-sm-6 text-right">
        <app-search-box></app-search-box>
      </div>
    </div>
  </div>
</section>
<section id="recipes">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-recipe-view
          *ngFor="let recipe of recipes"
          [recipe]="recipe"
          [showDescription]="false"
        ></app-recipe-view>
      </div>
    </div>
  </div>
</section>