<app-top-buttons [showSearch]="false"></app-top-buttons>
<section id="single-recipe">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <app-recipe-view
            [recipe]="recipe"
            [showDescription]="true"
            [showEditDelete]="true"
            [showNutrition]="false"
          ></app-recipe-view>
        </div>
      </div>
    </div>
  </section>
  <section id="recipe-data">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="recipe-products white-box">
              <h4 class="section-title">Products</h4>
              <div class="products-container">
                <div class="alert alert-warning" role="alert" *ngIf="recipe.products.length === 0">
                  There are no products added to this recipe yet!
                </div>
                <div class="products-container-inner" *ngIf="recipe.products.length > 0">
                  <div class="product d-flex justify-content-between"*ngFor="let product of recipe.products">
                    <div>{{product.product.description}}</div>
                    <div>
                      <span class="quantity">{{product.quantity}}</span> <span class="units">{{product.unit}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="recipe-recipes white-box">
              <h4 class="section-title">Recipes</h4>
              <div class="recipes-container">
                <div class="alert alert-warning" role="alert" *ngIf="recipe.subrecipes.length === 0">
                  There are no recipes added to this recipe yet!
                </div>
                <div class="recipe-container-inner" *ngIf="recipe.subrecipes.length === 0">
                  <div class="recipe d-flex justify-content-between" *ngFor="let recipe of recipe.subrecipes">
                    <!-- <div>{{recipe.title}}</div> -->
                    <!-- <div>{{product.quantity}} {{product.unit}}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="recipe-nutrition-container white-box">
              <div class="recipe-total-nutrition">
                <h4 class="section-title">Total Recipe Nutrition</h4>
                <div class="recipe-total-nutrition-inner">
                  <div class="row">
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.ENERC_KCAL.value.toFixed(0)}} {{recipe.nutrition.ENERC_KCAL.unit}}
                      </span>
                      <span class="nutrition-name">Calories</span>
                    </div>
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.FAT.value.toFixed(0)}} {{recipe.nutrition.FAT.unit}}
                      </span>
                      <span class="nutrition-name">Fat</span>
                    </div>
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.SUGAR.value.toFixed(0)}} {{recipe.nutrition.SUGAR.unit}}
                      </span>
                      <span class="nutrition-name">Sugars</span>
                    </div>
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.CHOCDF.value.toFixed(0)}} {{recipe.nutrition.CHOCDF.unit}}
                      </span>
                      <span class="nutrition-name">Carbs</span>
                    </div>
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.PROCNT.value.toFixed(0)}} {{recipe.nutrition.PROCNT.unit}}
                      </span>
                      <span class="nutrition-name">Protein</span>
                    </div>
                    <div class="nutrition-container col-sm">
                      <span class="nutrition-value">
                        {{recipe.nutrition.CA.value.toFixed(0)}} {{recipe.nutrition.CA.unit}}
                      </span>
                      <span class="nutrition-name">Calcium</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="recipe-total-details">
                <ngb-accordion #acc="ngbAccordion">
                  <ngb-panel>
                    <ng-template ngbPanelHeader>
                      <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-link" ngbPanelToggle>Show Total Nutrition Table</button>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent> 
                      <app-item-nutrition
                        [usedFor]="'total'"
                        [item]="recipe.nutrition"
                        [amount]="1"
                      ></app-item-nutrition>
                    </ng-template>
                  </ngb-panel>
                </ngb-accordion>
              </div>              
            </div>           
          </div>
        </div>
      </div>
    </section>
