<a class="clear-search-link"
*ngIf="!this.clearSearchDisabled"
(click)="clearSearch()"
><span class="far fa-times-circle"></span>Clear Search</a>
<button class="advanced-search-button" (click)="open(advancedSearch)">
  <span class="button-icon fas fa-search"></span>Search
</button>

<ng-template #advancedSearch let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Advanced Search</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body no-padding">
      <app-search-filter
        [usedFor]="'list-recipes'"
        [foodGroups]="categories"
        (submitFilter)="onSubmitFilterRecipe($event)"
        (clearFilter)="onSubmitFilterRecipe($event)"
      ></app-search-filter>
    </div>
  </ng-template>